body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}
.navbar-nav {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-toggler {
    border: none;
}

    .navbar-toggler:focus {
        outline: none;
    }

.navbar-toggler-icon {
    background-color: #007bff;
}

.navbar-collapse {
    display: none;
    background-color: #fff;
    padding: 10px;
}

.nav-link {
    color: #333;
    padding: 10px;
    border-radius: 5px; /*agregamos bordes redondeados*/
    transition: background-color 0.3s, color 0.3s; /* Agregamos transición */
}

    .nav-link:hover {
        background-color: #007bff; /* Azul primary */
        color: #fff; /* Texto blanco */
        border-radius: 10px; /* Aumentamos el radio de los bordes */
    }

@media (max-width: 767px) {
    .navbar-collapse {
        display: block;
    }
}
